<div class="container-fluid p-0" style="
    height: 100vh;
    position: absolute;
">
  <div class="row p-0" style="
    height: 100%;
">
    <div class="col-3 pe-0">
      <ul class="nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link active">Active</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
        <li class="nav-item"><a href="#" class="nav-link disabled">Disabled</a></li>
      </ul>
    </div>
    <div class="col-9 ps-0 pe-0" style="
    height: auto;
    max-height: 100%;
">
      <div class="content d-flex align-items-center" style="
    background-color: yellow;
    height: 100%;
    max-height: 100%;
">
        <div class="box d-flex align-items-center" style="
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
"></div>
      </div>
    </div>
  </div>
</div>